[class^="dg-"],
[class^="dg-"]:before,
[class^="dg-"]:after {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 1em;
  font-family: inherit;
  line-height: 1.2;
}
[class^="dg-"] > [class^="dg-"]:last-child {
  margin-bottom: 0;
}
[class^="dg-"] img,
[class^="dg-"] abbr,
[class^="dg-"] fieldset {
  border: 0;
}
[class^="dg-"] blockquote,
[class^="dg-"] q {
  quotes: none;
}
[class^="dg-"] blockquote:before,
[class^="dg-"] blockquote:after,
[class^="dg-"] q:before,
[class^="dg-"] q:after {
  content: '';
  content: none;
}
[class^="dg-"] ul,
[class^="dg-"] ol {
  list-style: none;
}
[class^="dg-"] table {
  border-collapse: collapse;
  border-spacing: 0;
}
[class^="dg-"] caption,
[class^="dg-"] th {
  text-align: left;
}
[class^="dg-"] th,
[class^="dg-"] td {
  vertical-align: middle;
}
[class^="dg-"] input::-moz-focus-inner,
[class^="dg-"] button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.dg-attribution {
  background-color: transparent !important;
}
.dg-attribution__copyright {
  margin: 0 55px 5px 0;
  text-align: right;
  white-space: nowrap;
  font-size: 9px;
  font-family: Helvetica, Arial, sans-serif;
}
.dg-attribution__links {
  display: inline-block;
  margin: 0;
  padding: 0 5px 0 0;
}
.dg-attribution__link-item {
  padding: 0;
  list-style-type: none;
}
.leaflet-container .dg-attribution__link {
  background: -webkit-linear-gradient(left, rgba(8, 8, 8, 0.3), rgba(8, 8, 8, 0.3) 100%) 0 95% repeat-x;
  background: linear-gradient(to right, rgba(8, 8, 8, 0.3), rgba(8, 8, 8, 0.3) 100%) 0 95% repeat-x;
  background-size: 10px 1px;
  color: #333;
  text-decoration: none;
  font-size: 9px;
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
}
.leaflet-container .dg-attribution__link:hover {
  background-image: -webkit-linear-gradient(left, #080808, #080808 100%);
  background-image: linear-gradient(to right, #080808, #080808 100%);
  color: #333;
  text-decoration: none;
}
.dg-attribution__logo-url {
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2252%22%20height%3D%2224%22%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22m%2031%2C8.3%20c%20-1.3%2C0%20-2.3%2C0.9%20-2.3%2C3.2%20v%204%20c%200%2C3.5%203%2C3.3%204.6%2C2.8%20V%2015%20H%2031%20v%20-2%20h%205%20v%206%20c%20-1.2%2C1.4%20-3.3%2C2%20-4.5%2C2%20C%2028.8%2C21%2026%2C20%2026%2C16%20v%20-5%20c%200%2C-3.7%201.9%2C-5%205%2C-5%204.2%2C0%205.1%2C3.4%205%2C5%20H%2033.3%20C%2033.3%2C9.2%2032.4%2C8.3%2031%2C8.3%20z%20M%2041%2C6.2%20h%20-3%20v%2014.7%20h%203%20V%206.2%20z%20m%200%2C0%20h%20-3%20v%2014.7%20h%203%20V%206.2%20z%20M%2047.5%2C21%20C%2044.1%2C21%2043%2C19.1%2043%2C16%20h%202.7%20c%20-0.2%2C2.1%200.6%2C2.7%201.8%2C2.7%201.1%2C0%201.8%2C-0.5%201.8%2C-1.7%200%2C-3.3%20-6.3%2C-1.5%20-6.3%2C-7%200%2C-2.7%202.1%2C-4%204.5%2C-4%203.9%2C0%204.5%2C3%204.5%2C5%20H%2049.3%20C%2049.5%2C9.3%2048.7%2C8.3%2047.4%2C8.3%2046.3%2C8.3%2045.7%2C9%2045.7%2C10%20c%200%2C3.2%206.3%2C1.3%206.3%2C7%200%2C2.4%20-1.6%2C4%20-4.5%2C4%20z%22%20fill%3D%22%23222%22%2F%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M%2011.5%2C2%20C%208.9%2C2%206.4%2C3%204.6%2C4.6%203%2C6.4%202%2C8.9%202%2C11.5%202%2C17.3%206.7%2C22%2012.5%2C22%2015.1%2C22%2017.6%2C21%2019.4%2C19.4%2021%2C17.6%2022%2C15.1%2022%2C12.5%2022%2C6.7%2017.3%2C2%2011.5%2C2%20z%22%20fill%3D%22%23fff%22%2F%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M%2012.5%2C22%20C%206.7%2C22%202%2C17.3%202%2C11.5%202%2C9.1%202.8%2C6.9%204.2%2C5.2%201.6%2C7.1%200%2C10.1%200%2C13.5%200%2C19.3%204.7%2C24%2010.5%2C24%20c%203.4%2C0%206.4%2C-1.6%208.3%2C-4.2%20-1.7%2C1.4%20-3.9%2C2.2%20-6.3%2C2.2%20z%22%20fill%3D%22%23edee00%22%2F%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22m%2010%2C18%20c%204.6%2C-4%207.5%2C-5.4%207.5%2C-8%200%2C-1%20-0.8%2C-2%20-2.5%2C-2%20-1.3%2C0%20-2.7%2C0.8%20-2.5%2C4%20H%2010%20v%20-2%20c%200%2C-1.6%201%2C-5%205%2C-5%203.1%2C0%205%2C2.3%205%2C5%200%2C3.8%20-3.7%2C6%20-6%2C8%20h%206.4%20C%2021.4%2C16.4%2022%2C14.5%2022%2C12.5%2022%2C6.7%2017.3%2C2%2011.5%2C2%208.9%2C2%206.4%2C3%204.6%2C4.6%203%2C6.4%202%2C8.9%202%2C11.5%20c%200%2C4.9%203.4%2C9.1%208%2C10.2%20V%2018%20z%22%20fill%3D%22%23a6cd2a%22%2F%3E%0D%0A%20%20%20%20%3Cpath%20d%3D%22M%2013.5%2C0%20C%2010.1%2C0%207.1%2C1.6%205.2%2C4.2%206.9%2C2.8%209.1%2C2%2011.5%2C2%2017.3%2C2%2022%2C6.7%2022%2C12.5%2022%2C14.9%2021.2%2C17.1%2019.8%2C18.8%2022.3%2C16.9%2024%2C13.9%2024%2C10.5%2024%2C4.7%2019.3%2C0%2013.5%2C0%20z%22%20fill%3D%22%230da5d5%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
  width: 52px;
  height: 24px;
  background-size: 52px 24px;
  position: absolute;
  margin: 0 3px 0 0;
}

@font-face {
 font-family: RobotoMedium; /* Имя шрифта */
 src: url(./fonts/Roboto-Medium.ttf); /* Путь к файлу со шрифтом */
}

.number {
  position: absolute;
  font: 18px/18px RobotoMedium;
  right: -27px;
  color: #333;
  top: 50%;
  background: rgba(255, 255, 255, 0.7);
  transform: translate(0, -50%);
}
